
* {
  box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #2d3c40;
	margin-top: 40px;
	margin-bottom: 40px;
}

a {
	color: #02b3e4;
}

a:link,
a:hover,
a:visited,
a:focus {
	color: #02b3e4;
	text-decoration: none;
}

/*Header*/
.site-header {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 4px solid #7d97ad;
}

.site-logo {
	float: left;
	width: 7vw;
	max-width: 50vw;
}

.personal-info {
	text-transform: uppercase;
	text-align: right;
}
/*end of Header styles*/

/*Hero Image*/
.site-hero {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	border-radius: 3px;
}
/*end of Hero Image*/

/*Site Qoute*/
.site-qoute {
	position: relative;
	top: -50%;
	margin-top: -10%;	/*This hack added to removed the space left by the element from https://stackoverflow.com/questions/15820336/relative-positioning-leaves-a-gap*/
	background-color: #fff;
	font-weight: bold;
	width: 350px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	padding: 10px;
	z-index: 9999;
}
/*end of Site Qoute*/

/*Featured Work*/
.work-section-header {
	background-color: #fff;
	color: #7d97ad;
}
/*end of Featured Work*/

/*Work Section*/
.work-section {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 20px;
}

.work-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 350px;
	padding: 10px;
	text-align: center;
	border: 1px solid #d3d3d3;
	box-shadow: 3px 3px 3px 0 rgba(211,211,211,0.41);
	border-radius: 4px;
}

.project-logo-link:hover {
	opacity: 0.6;
	box-shadow: 3px 3px 3px 0 rgba(211,211,211,0.41);
}

.project-logo {
	margin: 10px;
	width: 80%;
}

.project-name {
	text-transform: uppercase;
	margin-top: 20px;
}

.project-desc {
	overflow: hidden;
	text-overflow: ellipsis; /*TODO: Check why this is not working*/
}

.project-link:hover {
	font-weight: bold;
}
/*end of Work Section*/

@media screen and (max-width: 800px) {
	body {
		margin-right: 10px;
		margin-left: 10px;
	}

	.site-header {
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}

	.site-logo {
		width: 10vw;
		max-width: 50vw;
	}

	.personal-info {
		position: relative;
		text-align: left;
		margin-top: 10px;
	}

	.site-qoute {
		top: 0;
		margin: auto;
		background: none;
		border: 1px solid #d3d3d3;
		box-shadow: 3px 3px 3px 0 rgba(211,211,211,0.41);
	}

	.work-section-header {
		margin: auto;
		padding: 20px 0 10px 0;
	}

	.work-section {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.work-card {
		width: 100% !important;
		margin-bottom: 10px;
	}
}
