body {
    font-family: 'Coda', cursive;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.game-deck {
	border-radius: 20px;
	width: 50vw;
	min-width: 300px;
	max-width: 400px;
	height: 50vw;
	min-height: 300px;
	max-height: 400px;
	/*margin: 20px;*/
	padding: 10px;
	background: -webkit-linear-gradient(to bottom right, #30c7c3, #e2a2da); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom right, #30c7c3, #e2a2da); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom right, #30c7c3, #e2a2da); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #30c7c3, #e2a2da); /* Standard syntax (must be last) */
    -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	-moz-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-row {
	display: flex;
	justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
}

.card-slot {
	margin: 10px;
	width: calc(100%/4 - 20px);
	min-width: 55px;
	max-width: 90px;
	height: 100%;
	min-height: 55px;
	max-height: 90px;
	border-radius: 10px;
    background-color: #424242;
    cursor: pointer;
    list-style: none;
    -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	-moz-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: linear 0.5s;
}

.fa {
	cursor: pointer;
}

.fa.game-icons {
	display: none;
}




.game-board {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 30vw;
	margin: 10px 20px;
	padding: 0 10px;
}

.game-tracking {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.game-starring {
	color: #F9DE0D;
	display: flex;
	justify-content: space-between;
	padding-right: 5px;
}

.fa-star.dim {
	color: #D4CDCD;
}

.card-slot.flip {
    /* @keyframes duration | timing-function | delay |
	iteration-count | direction | fill-mode | play-state | name */
    animation: 0.5s linear 0s 1 normal flip_card;
}

.card-slot.show {
	background-color: #da46c5;
	color: white;
	display: flex;
    justify-content: center;
    align-items: center;
}

.card-slot.correct {
	background-color: #31eae6;
}

.card-slot.wrong {
	background-color: #FF0000;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
}

.card-slot.show  .fa {
	display: block;
}


#game-modal,
#game-success-alert{
	width: 0;
	height: 0;
	transition: 0.5s;
}


#game-modal.fullScreen {
	position: fixed;
	background-color: black;
	width: 100vw;
    height: 100vh;
	z-index: 1000;
	opacity: 0.8;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}


#game-success-alert p,
#game-success-alert h1,
#game-success-alert button,
#game-success-alert div,
#game-success-alert i{
	display: none;
}


#game-success-alert.fullScreen p,
#game-success-alert.fullScreen h1,
#game-success-alert.fullScreen button,
#game-success-alert.fullScreen div,
#game-success-alert.fullScreen i{
	display: block;
}

#game-success-alert.fullScreen {
	position: fixed;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
	top: 0;
    bottom: 0;
	z-index: 2000;
	opacity: 1;
	width: 40vw;
	min-width: 200px;
	height: 100%;
	min-height: 150px;
	background-color: #fff;
	border-radius: 10px;
	padding: 40px;
	margin: auto;
}


#game-success-alert.fullScreen .fa-check {
	color: #01B500;
    border: 1px solid #808080;
    padding: 30px;
    border-radius: 50%;
    cursor: default;
}

#game-success-alert.fullScreen .alert-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#play-again {
	color: #fff;
    width: 150px;
    height: 30px;
    padding: 10px;
    text-align: center;
    background-color: #01B500;
    border-radius: 4px;
    -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	-moz-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    cursor: pointer;
}

#play-again:hover {
	-webkit-box-shadow: 0 8px 6px -6px rgba(46, 61, 73, 0.5);
	-moz-box-shadow: 0 8px 6px -6px rgba(46, 61, 73, 0.5);
	box-shadow: 0 8px 6px -6px rgba(46, 61, 73, 0.5);
}

@-webkit-@keyframes flip_card {
	from {
			transform: rotateY(0deg);
	}
	to {
		transform: rotateY(90deg);
	}
}

@keyframes flip_card {
	from {
			transform: rotateY(0deg);
	}
	to {
		transform: rotateY(90deg);
	}
}

@-webkit-@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

